@model IEnumerable<WineViewModel>

<h2>Search Results</h2>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Country</th>
                <th>Type</th>
                <th>Price</th>
                <th>Region</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var wine in Model)
            {
                <tr>
                    <td>@wine.Name</td>
                    <td>@wine.Country</td>
                    <td>@wine.Type</td>
                    <td>@wine.Price</td>
                    <td>@wine.Region</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No wines found.</p>
}
<form method="post" action="/Wine/Search">
    <p>
        <input type="text" name="searchTerm" class="search" value="@Model" />
        <input type="submit" value="Search" class="searchSubmit" />
    </p>
</form>
