@model IEnumerable<CustomerViewModel>

<h2>Customer List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.Id</td>
                <td>@customer.Name</td>
                <td>@customer.Email</td>
                
                <td>
                    <a asp-action="Edit" asp-route-id="@customer.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@customer.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@customer.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create">Create New</a>